<div class="page-header">
  <h2>Posts</h2>
  <nz-space>
    <nz-input-group nzSearch nzSize="large" *nzSpaceItem>
      <input 
        type="text" 
        nz-input 
        placeholder="Search posts..." 
        [(ngModel)]="searchText"
        (ngModelChange)="onSearchChange()"
      />
    </nz-input-group>
    <button *nzSpaceItem nz-button nzType="primary" (click)="onCreatePost()">
      <span nz-icon nzType="plus"></span>
      Create Post
    </button>
  </nz-space>
</div>

<nz-table 
  #basicTable 
  [nzData]="posts" 
  [nzPageSize]="10"
  [nzShowPagination]="true"
  [nzLoading]="loading"
>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>User ID</th>
      <th>Body Preview</th>
      <th nzWidth="200px">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (post of basicTable.data; track post.id) {
      <tr>
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.userId }}</td>
        <td>{{ post.body.substring(0, 50) }}{{ post.body.length > 50 ? '...' : '' }}</td>
        <td>
          <nz-space>
            <button *nzSpaceItem nz-button nzSize="small" (click)="onViewPost(post.id)">
              <span nz-icon nzType="eye"></span>
              View
            </button>
            <button *nzSpaceItem nz-button nzSize="small" (click)="onEditPost(post.id)">
              <span nz-icon nzType="edit"></span>
              Edit
            </button>
            <button 
              *nzSpaceItem 
              nz-button 
              nzSize="small" 
              nzDanger
              nz-popconfirm
              nzPopconfirmTitle="Are you sure you want to delete this post?"
              (nzOnConfirm)="onDeletePost(post.id)"
            >
              <span nz-icon nzType="delete"></span>
              Delete
            </button>
          </nz-space>
        </td>
      </tr>
    }
  </tbody>
</nz-table>